---
layout: default
---

<h1>{{ page.title }}</h1>

<article role="main" class="blog-post">
  {{ content }}
</article>

{% assign author = site.authors[page.author] %}
<div class="byline">
  <i class="fa fa-link" aria-hidden="true"></i> <a href="{{ page.post_url }}">{{ page.date | date: ''%-d %B %Y' }}</a><br />
  <b><i class="fa fa-user" aria-hidden="true"></i> {{ author.name }}</b><br />
  <i class="fa fa-github" aria-hidden="true"></i> <a href="https://github.com/{{ page.author.github }}">{{ author.github }}</a>
</div>
